body{
  background-color: #A5ACB0;
  color: #E61739;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
}

.menu-bar{
  display: block;
  width: 20%;
}

header nav ul{
  overflow: hidden;
  list-style: none;
}

header nav ul li{
  float: left;
}

header nav ul li a{
  color: white;
  padding: 20px;
  display: block;
  text-decoration: none;
}

header nav ul li i{
  margin-right: 10px;
}

header nav ul li a:hover{
  background: #E61739;
}

/**/
  header nav{
    width: 20%;
    background-color: #991F3D;
    left: -100%;
    margin-top: 10%;
    position: fixed;
  }

  header nav ul li{
    display: block;
    float: none;
    border-bottom:1px solid rgba(255,255,255, 0.3);
  }

  .menu-bar .bt-menu{
    display: block;
    padding: 20px;
    color: #E61739;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }

  .menu-bar i a{
    float:left;
    font-size: 40px;
  }

  .menu-bar i{
    padding-right: 10px;
  }

@media screen and (max-width:800px) {
  header nav{
    width: 100%;
    margin: 0;
  }

  .menu-bar{
    width: 100%;
  }
}

h1{
  text-align: center;
}
#tb1 {
  width: 90%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#tb1 td, #tb1 th {
  padding: 8px;
  width: 5%;
}
#tb1 tr{
  background-color: #DEDEDE;
}

#tb1 tr:hover {background-color: #737373;}

#tb1 th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #E61739;
  color: white;
}

#submit{
  display: block;
  float: right;
  margin-right: 5%;
  border-radius: 20px;
  padding: 0.5%;
}

/*.login{
  position: absolute;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 45%;
  border-style: dotted;
  border-color: green;
  padding: 2%;
}
*/
#add{
  display: block;
  float: left;
  border-radius: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

.del{
  display: block;
  border-radius: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}
